{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Student | Search {%endblock%}
{% block heading %} Search   {% endblock %}
{% block menu %}Search {% endblock %}
{% block style %}
table{
  width:100%;
  text-align:center;
  color:#000;
  padding:5px;
}
thead{
  background:rgb(255,128,33);
    border-radius:20px;
}
tr:hover {

  background:rgb(255,128,33);
  cursor:pointer;
  border-radius:20px;
}
ion-icon {
  color:#fd9426;
  font-size:30px;
  float:right;
  margin:0 3px;
  padding:3px;
  line-height:20px;
  display:block;
  border: 1px solid #ced4da;
  border-radius:10px;
  cursor:pointer;
}
ion-icon:hover{
  border: 1px solid #fd9426;
}
.menu {
top: -71px;
position: relative;
}
.box
 {   margin-bottom:20px;
     margin-left: ;
     border-radius:10px ;

     opacity:0.8;
     width: 100%;
     height: 310px;
     border: 2px solid #ced4da;
 }
 .box:hover{
   border: 1px solid rgb(255,128,33);
   background:.rgb(255,128,33);
 }



.span2
{
    font-size: 16px;
    color: #999999;
    font-weight:bolder;
    text-align: center;
    padding-left: 15px;

}
.main h4 {
  color:#000;
  background: #ced4da;
  border-radius:10px;
  padding:0px 10px;
}
.box img {
  width:100%;
  height:200px;
  padding:10px;
  border-radius:50%;

}
.box a {
  background:rgb(255,128,33);
  color:#ffffff;
  font-size:20px;
  padding:5px 20px;
  border-radius:20px;
  margin-left:20px;
  letter-spacing:1px;
}
h4 {
  color:#000;
  background: #ced4da;
  border-radius:10px;
  padding:0px 10px;
  width:100%;
}
input,select, optgroup, textarea {
    margin: 10px;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    outline: none;
    border: 2px solid #ced4da;
    color:rgb(255,128,33);
    border-radius: 10px;
    height: 52px !important;
    font-size: 18px;
    background: #fff !important;
    color: #000000 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;

}

input:hover,select:hover, optgroup:hover
, textarea:hover {
border: 1px solid rgb(255,128,33);

}

{% endblock %}
 {% block nav-link %}
 <li ><a style="font-size:18px;" href="/staff-home"> Home</a></li>
 <li  class="colorlib-active" ><a style="font-size:18px;" href="/signupStudent">Create Student</a><li>
   <li ><a style="font-size:18px;" href="/notice-staff"> Create Notice</a></li>
   <li><a style="font-size:18px;" href="/search-student"> Search Student</a></li>
   <li><a style="font-size:18px;" href="/staff-payment"> fee / payment</a></li>
   <br>
   <hr>
   <li ><a style="color:#fd9426;" id='logout' href="/logout"><i class="fa fa-sign-out"></i>      logout</a></li>
 {% endblock %}

{% block body %}

<div class="col-md-12">
  <form  method="post">
      <div  class="form-row">
        <div class="form-group col-md-12 mb-0">
    {%csrf_token%}
    {{ form |crispy}}
    </div>
    </div>

    <button type="submit" class="btn btn-primary">Search</button>
  </form>
  <div class="main">
    <br>

    <div class="row">
      {% if data %}
            <h4>Search Result</h4> <br>
       {% for field in data %}
           {% if data %}
                       <div class="col-md-3 ">
                <div class="box">
                      <img src="{% static 'images/person_3.jpg' %}" alt="img" class="">
                      <br>
                      <span style="padding-right:20px;" class="span2" draggable="true"> {{field.firstName}} {{field.lastName}}</span>
                      <br>
                      <span class="span2" draggable="true"> {{field.hostel_name}}</span>
                      <br>
                       <!--a style="" href="#">Detail</a-->
                      <span class="span2"><ion-icon style="color:#fc3d39;"  name="trash"> </span>
                     <span class="span2"><ion-icon  style="color:#fd9426;" name="create"></span>
                     <span class="span2" onClick="editUser({{field.id}})" data-toggle="modal" data-target="#myModal")" ><ion-icon  style="color:#53d769 ;" name="eye"> </span>


                 </div>
            </div>
            {% endif %}
       {% endfor %}
       {% endif %}
    </div>
  </div>
{% endblock %}
