{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Admin | Notice {%endblock%}
{% block heading %} Notice  {% endblock %}
{% block menu %}profile {% endblock %}
{% block style %}
ion-icon {
    color:#fd9426;
    font-size:30px;
    float:right;
    margin:0 3px;
    padding:3px;
    line-height:20px;
    display:block;
    border: 1px solid #fd9426;
    border-radius:10px;
    cursor:pointer;
    transition:0.1s;
  }
  ion-icon:hover{
    transition:0.1s;
    background:#fd9426;
    color:#FFF;
    border: 1px solid #fd9426;
  }
 .menu {
  top: -71px;
  position: relative;
 }
 .box{
   margin-bottom:20px ;
   margin-left: ;
   border-radius:10px ;
   box-shadow:0 0 0 0.4;
   opacity:0.8;
   width: 100%;
   cursor:pointer;
   height: 310px;
   border: 1px solid #ced4da;
 }
 .box:hover{
   border: 1px solid rgb(255,128,33);
   background:.rgb(255,128,33);
   transition:0.4s;
  }
  .span2 {
    font-size: 16px;
    color: #999999;
    font-weight:bolder;
    text-align: center;
    padding-left: 15px;
  }
  .main h4 {
   color:#000;
   background: #ced4da;
   border-radius:10px;
   padding:0px 10px;
 }
 .box img {
  width:200px;
  height:200px;
  padding:10px;
  border-radius:50%;
 }
 .box a {
   background:rgb(255,128,33);
   color:#ffffff;
   font-size:20px;
   padding:5px 20px;
   border-radius:20px;
   margin-left:20px;
   letter-spacing:1px;
 }
 .form-control {
    height: 150px !important;
    background: #fff !important;
    color: #000000 !important;
    font-size: 18px;
    border-radius: 10px;
    -webkit-box-shadow: none !important;
    box-shadow:none;
  }
  input,select, optgroup {
      margin: 10px;
      width: 100%;
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
      outline: none;
      border: 2px solid #ced4da;
      color:rgb(255,128,33);
      border-radius: 10px;
      height: 52px !important;
      font-size: 18px;
      background: #fff !important;
      color: #000000 !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      transition:0.4s;
  }
  input:hover,select:hover, optgroup:hover
  , textarea:hover {
       transition:0.4s;
       border: 1px solid rgb(255,128,33);
  }
  textarea {
    margin: 10px;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    outline: none;
    border: 2px solid #ced4da;
    color:rgb(255,128,33);
    border-radius: 10px;
    height: 152px !important;
    font-size: 18px;
    background: #fff !important;
    color: #000000 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    transition:0.4s;
  }
{% endblock %}
{% block nav-link %}
     <li><a style="font-size:18px;" href="{% url 'warden_view:warden-home' %}"> Home</a></li>
     <li><a style="font-size:18px;" href="{% url 'staff_view:signupStaff' %}">Add Staff</a><li>
     <li class="colorlib-active"><a style="font-size:18px;" href="{% url 'warden_view:notice-warden' %}">Send Notice</a></li>
     <li><a style="font-size:18px;" href="{% url 'staff_view:search-staff' %}">Search Staff</a></li>
     <li><a style="font-size:18px;" href="{% url 'warden_view:request-warden' %}">Send Request</a></li>
       <br>
       <hr-->
    <li ><a style="color:#fd9426;" id='logout' href="/logout"><i class="fa fa-sign-out"></i>   logout</a></li>

{% endblock %}
    {% block body %}
    <form method="post" novalidate enctype="multipart/form-data">
{% csrf_token %}

<div  class="form-row">
  <div class="form-group col-md-6 mb-0">
             {{ form.Subject|as_crispy_field }}
  </div>
  <div class="form-group col-md-6 mb-0">
             {{ form.users|as_crispy_field }}
  </div>

</div>
<div  class="form-row">
    <div class=" des form-group col-md-12 mb-0">
               {{ form.description|as_crispy_field }}
    </div>

</div>

<button type="submit" style="border-radius:10px" class="btn btn-primary">Submit</button>

</form>
{% endblock %}
