{% extends 'base.html' %}
{% load static %}
{% block title %}Warden | Home {%endblock%}
{% block heading %} Welcome  {% endblock %}
{% block style %}
      ion-icon {
          color:#fd9426;
          font-size:30px;
          float:right;
          margin:0 3px;
          padding:3px;
          line-height:20px;
          display:block;
          border: 1px solid #fd9426;
          border-radius:10px;
          cursor:pointer;
          transition:0.1s;
        }
        ion-icon:hover{
          transition:0.1s;
          background:#fd9426;
          color:#FFF;
          border: 1px solid #fd9426;
        }
        .menu {
          top: -71px;
          position: relative;
        }
        .box
        {
          margin-bottom:20px ;
          border-radius:10px ;
          box-shadow:0 0 0 0.4;
          opacity:0.8;
          width: 100%;
          height: 330px;
          border: 2px solid #ced4da;
        }
        .box:hover{

          border: 1px solid rgb(255,128,33);
          background:.rgb(255,128,33);

        }



        .span2
        {
          font-size: 16px;
          color: #999999;
          font-weight:bolder;
          text-align: center;
          padding-left: 15px;

        }
        .main h4 {
          color:#000;
          background: #ced4da;
          border-radius:10px;
          padding:0px 10px;
        }
        .box img {
          width:100%;
          height:220px;
          padding:10px;
          border-radius:50%;

        }
        .box a {
          background:rgb(255,128,33);
          color:#ffffff;
          font-size:20px;
          padding:5px 20px;
          border-radius:20px;
          margin-left:20px;
          letter-spacing:1px;
        }

      }
{% endblock %}
 {% block nav-link %}
      <li  class="colorlib-active"><a style="font-size:18px;" href="/warden-home"> Home</a></li>
      <li><a style="font-size:18px;" href="/signupStaff">Create Staff</a><li>
      <li><a style="font-size:18px;" href="/notice-warden"> Create Notice</a></li>
      <li><a style="font-size:18px;" href="/search-staff"> Search Staff</a></li>
      <li><a style="font-size:18px;" href="/warden-payment"> fee / payment </a></li>
        <br>
        <hr>
     <li ><a style="color:#fd9426;" id='logout' href="/logout"><i class="fa fa-sign-out"></i>   logout</a></li>

 {% endblock %}

{% block body %}

<div class="main">
   <h4>Statistics</h4>
   <div class="">
       <h2 style="text-align:center;">No Data</h2>

   </div>
</div>
<div class="main">
                                   <h4>All Staff Member</h4>
  <div class="row">
     {% for field in data %}
        {% if data %}
          <div class="col-md-3 ">
            <div class="box">
              <img src="{% static 'images/person_3.jpg' %}" alt="img" class="">
                <br>
              <span style="padding-right:20px;" class="span2" draggable="true">      {{field.firstName}} {{field.lastName}}
              </span>
                <br>
              <span class="span2" draggable="true">
                   {{field.hostel_name}}
              </span>
                  <br>
                     <!--a style="" href="#">Detail</a-->
              <span class="span2"><ion-icon style="color:#fc3d39;"  name="trash"> </span>
              <span class="span2"><ion-icon  style="color:#fd9426;" name="create"></span>
              <span class="span2"><ion-icon  style="color:#53d769 ;" name="eye"> </span>
          </div>
        </div>
      {% else %}
              {{msg}}
      {% endif %}
   {% endfor %}
  </div>
</div>
{% endblock %}
