{% load widget_tweaks %}

<div style="background:rgb(255,128,33);"  class="modal-header">
  <h3 style="color:#fff"; class="modal-title">Warden Details</h3>
  <!--button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button-->
</div>

<div class="modal-body">

  <div class="">
    Name :
    <br>
  <strong  style="font-size:18px;"> {{field.firstName}} {{field.lastName}}</strong>
  </div>
  <div class="">
    Hostel Name :
    <br>
     <strong  style="font-size:18px;"> {{field.hostel_name}}</strong>
  </div>
  <div class="">
    Phone :
    <br>
    <strong  style="font-size:18px;"> {{field.phone_number}}</strong>

  </div>
  <div class="">
    Email :
    <br>
    <strong  style="font-size:18px;"> {{field.email}}</strong>
  </div>


</div>

<div class="modal-footer">
    <button style="border-radius:10px; background:rgb(255,128,33); border:none; color:#fff;"; type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
